<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ym.easyipc">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">
        <activity android:name=".Activity1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TestService" android:process=":serviceProcess"/>

    </application>

</manifest>
